body {
  margin: 0;
  font-family: -apple-system, Roboto, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

amarelo {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  color: #ffd500;
}

azul {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  color: #275DAD;
}

#retangulo {
 border-radius: 15px;
}

.bandeira {
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;

  background-image: linear-gradient(to bottom, #005bbb 50%, #ffd500 50%);
}
.displayUKR {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;

}

.container1 {
  height: 50%;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(35, 36, 37, 0.77);
  backdrop-filter: blur(35px);
  border-radius: 40px;
  color: #fff;
  display: inline-block;
  text-align: center;
  position: absolute;

  box-sizing: border-box;
  position: absolute;
  font-size: 26px;
  font-weight: 500;
}

.center h3 {
  margin: 0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
}

.carrossel {
  width:54%;
  position: absolute;
  top: 69%;
  left: 50%;

  transform: translate(-50%, -50%);
}